.c-comment {
    p {
        color: #262626;
        font-size: 14px;
        font-weight: 400;

        .username {
            color: #262626;
            font-size: 14px;
            font-weight: 700;
        }
    }
}